:root {
  --square-len: min(8vh, 8vw);
}

body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  background-color: #071E22;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  color: white;
  border: 2px solid whitesmoke;
  height: calc(0.6 * var(--square-len));
  width: calc(12 * var(--square-len));
}

button {
  border: 1px solid white;
}

.board-container {
  display: grid;
  margin: 1.5em auto;
  width: calc(8 * var(--square-len));
  height: calc(8 * var(--square-len));
  grid-template-columns: repeat(8, var(--square-len));
  grid-template-rows: repeat(8, var(--square-len));
}

.square {
  height: var(--square-len);
  width: var(--square-len);
}

.piece {
  background-size: 100%;
  width: 80%;
  height: 80%;
  margin: 10% auto;
}

.square-black {
  background-color: #Ed7014;
}

.square-white {
  background-color: beige;
}

.square-selected {
  background-color: #678B35;
}

.square-attackable {
  background-color: brown;
}

.square-available {
  margin: 40%;
  width: 20%;
  height: 20%;
  border-radius: 90%;
  background-color: rgb(30, 30, 30);
} 








